{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Released_year</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.releasedYear }}</td>
                <td>{{ movie.rating }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}" class="btn btn-primary m-3">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}" class="btn btn-secondary m-3">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_new') }}" class="btn btn-primary m-3">Create new</a>
{% endblock %}
